/* FONT IMPOR */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800&display=swap');


/* basic rules */
*,
html,
body {
    padding: 0;
    margin: 0;
}


/* HEADER START */
header{
    padding: 15px 7%;    
    display: block;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.head_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo_img{
    width: 318px;
    height: 105px;
}

.hamburger_menu{
    display: none;
}

.navbar{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}


.navbar a{
    margin: 10px; 
    text-decoration: none;
    color: #000;   
    padding: 15px;
    font-weight: 600;
}
/* HEADER END */

/* MAIN START */
/* COURSE START */
    .course_section{
        margin-top: 5%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content ;
        padding: 5%;
    }

    .head_course{
        width: 90%;
        text-align: center;
        padding: 1rem;
        font-family: 'Poppins', sans-serif;
        color:#000;
        font-size: 2.5rem;
        font-weight: 600;
        margin: 10px 0;
    }

    .course_container{
        width: 90%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .class_wrapp{
        background-color: #3A5DB7;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem;
        gap: 2rem;
        border-radius: 25px;
    }

    .class_wrapp_span{
        background-color: #E01C1C;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem;
        gap: 1rem;
        border-radius: 25px;
    }

    .link{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .link h2{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
        font-size: 2rem;
        margin-bottom: 10px;
       
    }

    .link a{
        font-size: 1rem;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: #ffffff;
    }

    .course_img{
        width: max-content;
    }

    .course_img img{
        width: 150px;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
/* COURSE END */
/* MAIN END */



