/* FONT IMPOR */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800&display=swap');


/* basic rules */
*,
html,
body {
    padding: 0;
    margin: 0;
}


/* HEADER START */
header{
    padding: 15px 7%;    
    display: block;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid #faf1f1;
    box-shadow: 0 1px 10px #c2b8b886;    
}

.head_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 25%;

}

.logo .logo_img{
    width: 100%;
}

.hamburger_menu{
    display: none;
}

.navbar{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}


.navbar a{
    margin: 10px; 
    text-decoration: none;
    color: #000;   
    padding: 15px;
    font-weight: 600;
}
/* HEADER END */

/* MAIN START */
/* HERO START */
.hero_section{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
}

.bg_vector{
    background-image: url(/asset/vector/bg_vector.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 3%;
    height: 400px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.desck_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bg_vector .desc_tittle{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    position: relative;
    top: 5%;
}

.bg_vector .desc_p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #FAEDED;
    font-size: 25px;
    width: 70%;
    padding: 0 8%;
    text-align: center;
    position: relative;
    top: 5rem;
    margin-bottom: 7rem;
}

.bg_vector .desc_p p{
    width: 60%;
}

.btn_hero{
    position: relative;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    animation: btn_herobouncy 5s infinite linear;
    transition: all 0.2s;
}

.btn_hero button{
    background-color: #000;
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
}

.desck_container .btn_hero button:hover{
    transition: 0.3s;
    text-decoration: none;
    color: #000;
}

@keyframes btn_herobouncy{
    0% {
        top: 0em;
      }
      40% {
        top: 0em;
      }
      43% {
        top: -0.9em;
      }
      46% {
        top: 0em;
      }
      48% {
        top: -0.4em;
      }
      50% {
        top: 0em;
      }
      100% {
        top: 0em;
      }
}

.btn_hero a{
    color: #FAEDED;
    text-decoration: none;
}

.hero_img{
    display: none;
}

.hero_img img{
    width: 15%;
}
/* HERO END */

/* PROGRAM START */
.program_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/asset/desktop-3045123_1280\ 1.jpg);
    height: max-content;
    width: 100%;
    padding: 5% 0;
}

.program_section h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 50px;
}

.btn_program{
    display: flex;
    justify-content: space-between;
    width: 40%;
    position: relative;
    top: 2%;
    
}

.btn_program button{
    color: #FAEDED;
    width:40%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.btn_program button:hover{
    background-color: #000;
    transition: 0.3s;
}

.btn_program .blue{
    background-color: #3771C8 ;
}

.btn_program .red{
    background-color: #E01C1C ;
}

.program_teks{
    margin-top: 10%;
    width: 30%;
    height: max-content;
    border-radius: 15px;
    background-color: #86C5FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.program_teks p{
    width: 100%;
}

.program_card{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 5%;
    flex-wrap: wrap;
}

.english_card{
    background-color: #FFFFFF;
    width: 40%;
    height: max-content;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #1877F2;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif; 
}

.english_card_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card_class_type{
    padding: 10px;
    text-align: center;
    color: #E3BC20;
    margin-bottom: 20px;
}

.card_class_usia{
    border-radius: 15px;
    padding: 10px;
    width: 150px;
    text-align: center;
    position: relative;
    right: 18%;
    background-color: #0099FF;
    
}

.card_class_usia h3{
    font-weight: 600;
}

.card_class_desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.card_list {
    width: 200px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_list_name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card_list_name p{
    width: 100%;
}

.card_list_name img{
    width: 20%;
    
}

.card_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.card_img img{
    width: 70%;
}


.card_class_btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
}

.card_class_btn button{
    background-color: #000;
    color: #FAEDED;
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 15px;
}

.card_class_btn button:hover{
    background-color: transparent;  
    cursor: pointer;
    color: #000 ;
    outline: 2px solid #000;
}
/* PROGRAM END */

/* ABOUT START */
.about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
    padding: 3% 0;
    width: 100%;
}

.about_container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_img{
display: flex;
justify-content: space-between;
align-items: flex-end;
flex-wrap: wrap;
width: 100%;
}

.about_img2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.about_img .photo1{
    width: 58%;
}

.about_img .component{
    width: 40%;
}

.about_img2 .component2{
    width: 40%;
}

.about_teks{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about_teks h1{
    font-size: 45px;
    width: 50%;
    margin-bottom: 3rem;
}

.about_teks p{
    font-weight:500;
    font-size: 30px;
    width: 70%;
}
/* ABOUT END */

/* TESTIMONI START */
.testimoni_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    padding: 4% 0;
}

.testimoni_teks{
    text-align: center;
    font-family: 'Poppins', sans-serif;   
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3% 0;
    gap: 1rem;
}

.testimoni_teks h2{
    font-size: 40px;
    font-weight: 400;
}

.testimoni_teks p{
    font-size: 30px;
    width: 59%;
}

.container_card_testimoni{
    display: flex;
    justify-content: center;
    width: 95%;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3% 0;
}

.testimoni_card{
    width: 40%;
    border: 2px solid #dddddd;
    height: max-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    font-family: 'Poppins', sans-serif;
    padding: 3%;  
    gap: 1rem;
}

.testimoni_card .testimoni_kutip{
    width: 10%;
    margin-bottom: 2rem;
}

.testimoni_desc{
    text-align: center;
    width: 90%;
    font-size: 1.7rem;
}

.testimoni_profil{
    display: flex;
    align-items: center;
    padding: 3% 0;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.testimoni_profil img{
    width: 15%;
}

.testimoni_profil .name{
    font-size: 20px;
}
/* TESTIMONI END */
/* MAIN END */

/* FOOTER START */
footer{
    background-color: #86C5FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.footer_container_fluid{
    display: flex;
    flex-direction: column;
    width: 1150px;
    /* background-color: #E3BC20; */
}

.container_footer_content{
    display: flex;
    justify-content: space-between;
    height: 300px;
    /* background-color: #E01C1C; */
    flex-wrap: wrap;
    
}

.footer_addres{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_brand{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1150px;
    margin-top: 2rem;
}

.footer_brand img{
    width: 200px;
    height: 75px;
    margin-bottom: 2rem;
}

.footer_sosmed{
    display: flex;
    gap: 30px;
}

.addres_desc{
    width: 269px;
    margin-top: 2rem;
}

.footer_navigasi{
    display: flex;
    flex-direction: column;
}

.footer_navigasi .nav-1{
    margin-bottom: 5px;
}

.footer_navigasi a{
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
}

.footer_navigasi .nav-2{
    margin-top: 1rem;
}

.footer_contact{
    display: flex;
    flex-direction: column;
}

.footer_contact h3{
    margin-bottom: 5px;
}

.footer_contact a{
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
}

.footer_serti_container{
    background-image: url(/asset/vector/Vector\ \(2\).png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_serti_teks{
    margin-top: 2rem ;
    text-align: center;  
}
/* FOOTER END */


