
/* MOBILE 425px DISPLAY */
@media screen and (max-width: 320px){
    main .hero_section{
        height: 800px;
    }
    

    .hero_section .bg_vector .desck_container{
        margin-top: 10%;
    }

    .bg_vector .desck_container .desc_tittle h1{
        font-size: 1.2rem;
        width: 100%;
    }

    .hero_section .bg_vector .desck_container .desc_p{
        top: -5%;
        margin-bottom: 3rem;
    }

    .bg_vector .desck_container .desc_p p{
        font-size: 1rem;
        width: 100%;
        top: 0;
    }

    .hero_section .bg_vector .btn_hero{
        top: -5%;
    }

    .btn_program{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .btn_program button{
        width: 80%;
    }

    .program_card .english_card{
        width: 95%;
    }

    .card_class_usia{
        margin-left: 25%;
    }
    

    .footer_container_fluid{
        margin-bottom: 15%;
    }
    
    footer .footer_serti_container{
        margin-top: 100%;
    }
}


/* MOBILE 425px DISPLAY */
@media screen and (max-width: 375px){    
    
    .bg_vector .desck_container{
        height: max-content ;
        margin-top: 2rem;
        gap: 1rem;
    }

    .hero_section .bg_vector .desck_container .desc_p{
        margin-bottom: 0;
    }

    .bg_vector .btn_hero{
        position: relative;
        top: 0;   
    }

    .about_teks p{
        width: 100%;
    }

    footer .footer_serti_container{
        margin-top: 90%;
    }


}

/* MOBILE 425px DISPLAY */
@media screen and (max-width: 720px) {
/*===== HEADER START SECTION =====*/
    .logo{
        width: 56%;
    }

    header{
        padding: 0 2%;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #3771C8;    
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        margin: 0;
        padding: 0;
        
    }

    .navbar.active{
        left: 0;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
        gap: 0;
        margin: 0;
        padding: 2% 0;
        
       
    }

    .navbar ul li{
        width: 100%;
        padding: 5% 0;
        border-bottom: 2px solid #325ea0;
    }

    .navbar ul li a{
        color: #fff;
        margin: 0;
        width: 100%;
        background-color: #fff; 
    }


    .hamburger_menu{
        display: block;
        font-size: 40px;
    }
/*===== HEADER END SECTION =====*/

/*===== HERO START SECTION =====*/
.hero_section{
    height: 870px;
}

.bg_vector{
    background-image: url(/asset/vector/Component\ 19.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.hero_section .bg_vector .desck_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 70%;
    padding: 5% 0;
    margin-top: 3rem;
}

.bg_vector .desck_container .desc_tittle{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   font-weight: 600;
   padding: 5% 0;
   position: relative;
   bottom: 3rem;
}

.desck_container .desc_tittle h1{
    font-size: 1.5rem;
    font-weight: 600;
    width: 90%;
}

.bg_vector .desck_container .desc_p {
    width: 100%;
    position: relative;
    top: 0;
    padding:  0;
    margin-bottom: 3rem;
}

.bg_vector .desc_p p {
    width: 100%;
}

.btn_hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -5rem;
    height: max-content;
}

.hero_section .hero_img img{
    width: 90%;
    height: 20%;
}

/* .hero_img img {
  width: 15%;
} */

/*===== HERO END SECTION =====*/

/*===== PROGRAM START SECTION =====*/
.program_section{
    width: 100%;
}

.program_section h1{
    font-size: 1.5rem;
}

.btn_program{
    width: 95%;
    flex-wrap: wrap;
}

.program_teks{
    width: 80%;
    padding: 5% 0;
}

.program_teks p{
    font-size: 18px;
    width: 70%;
    font-weight: 300;
}

.program_card{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.english_card{
    margin: 0;
    width: 90%;
}

/*===== PROGRAM END SECTION =====*/

/*===== ABOUT START SECTION =====*/
.about_section{
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_img{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_teks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_teks h1{
    font-size: 1.5rem;
    width: 100%;
}

.about_teks p{
    font-size: 20px;
}

.about_img2{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*===== ABOUT END SECTION =====*/

/*===== TESTIMONI START SECTION =====*/

.testimoni_section .testimoni_teks h2{
    font-size: 1.5rem;
}

.testimoni_teks{
    gap: 1rem;
}

.container_card_testimoni{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container_card_testimoni .testimoni_card{
    width: 80%;
}

.container_card_testimoni .testimoni_card .testimoni_desc{
    font-size: 1rem;
    width: 70%;
}


.testimoni_teks p{
    font-size: 1rem;
    width: 90%;

}    

.testimoni_card .testimoni_profil p{
    font-size: 1rem;
}
/*===== TESTIMONI END SECTION =====*/

/*===== FOOTER START SECTION =====*/
footer{
    width: 100%;
    flex-wrap: wrap;
}

.footer_brand{
    height: 100px;
    width: 370px;
    align-items: center;
}

.footer_container_fluid{
    display: flex;
    flex-wrap: wrap;
    
}

.footer_addres{
    margin-bottom: 2rem;
}

.container_footer_content{
    gap: 1rem;
    width: 50%;
}

.footer_serti_container{
    width: 100%;
    margin-top: 80%;
}
/*===== FOOTER END SECTION =====*/
}

@media screen and (max-width: 1024px){
    /* HERO START */
    .hero_section .bg_vector{
        height: 500px;
    }

    .desck_container .desc_tittle{
        width: 50%;
        position: static;
    }

    .desc_tittle h1{
        font-size: 35px;
    }

    .desck_container .desc_p{
        width: 40%;
    }

    .desck_container .desc_p p{
        font-size: 18px;
        width: 100%;
    }

    /* PROGRAM START */
    .program_section{
        position: relative;
        margin-top: 0;
    }


    /* ABOUT SECTION */
    .about_img{
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_img .photo1{
        width: 100%;
    }

    .about_img .component{
        width: 70%;
    }

    .about_img2{
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_img2 .photo1{
        width: 100%;
    }

    
    .about_img2 .component2{
        width: 70%;
    }


    /* TESTIMONI START */
    .container_card_testimoni{
        width: 100%;
    }

    .testimoni_card{
        width: 390px;
    }

    .footer_brand{
        width: 90%;
    }

   .footer_container_fluid{
       width: 90%;
   }
}

@media screen and (max-width: 1440px){
    .bg_vector{
        height: 600px;
    }

    .desck_container{
        height: 100%;
    }

}


